# pnpm 配置文件

# 允许子包提升依赖，解决部分插件在 Monorepo 中找不到依赖的问题
shamefully-hoist=true

# 包安装源（可替换为淘宝源）
registry=https://registry.npmjs.org/

# 保存时自动生成 pnpm-lock.yaml
lockfile=true

# 严格的 peer dependencies 检查
strict-peer-dependencies=false

# 自动安装 peer dependencies
auto-install-peers=true
